{%extends 'base.html'%} {%block head%}

<title>Admin Home</title>
<style>
    .max-width-td {
        max-width: 150px; /* Adjust the value as needed */
        overflow: hidden; /* Optional: hide overflowing content */
        /*white-space: nowrap; /* Optional: prevent wrapping */
        text-overflow: ellipsis; /* Optional: display ellipsis for overflowing content */
    }
    .main-div {
        background-color: #d5cabd;
        font-family: sans-serif;
    }
</style>
{%endblock%} {%block body%}

<div>
    <div class="container">
        <br />
        <div style="text-align: center">
            <h1
                style="
                    text-align: center;
                    color: #845ec2;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    border: 2px solid white;
                    background-color: #d5cabd;
                    border-radius: 5px;
                    box-shadow: 2px 2px 8px #845ec2;
                    padding: 5px;
                    text-shadow: 2px 2px 4px white;
                ">
                All Items
            </h1>
        </div>
        <br />

        <table
            class="table table-hover align-middle"
            style="
                text-align: center;
                border: 2px solid #845ec2;
                box-shadow: 2px 2px 5px#bea7e3;
            ">
            <thead>
                <tr>
                    <th style="color: #845ec2; font-size: 1.4rem">Item</th>
                    <th style="color: #845ec2; font-size: 1.4rem">
                        Item ID/Part No.
                    </th>
                    <th style="color: #845ec2; font-size: 1.4rem">Category</th>
                    <th style="color: #845ec2; font-size: 1.4rem">Quantity</th>
                    <th style="color: #845ec2; font-size: 1.4rem">
                        Date updated
                    </th>
                    <th style="color: #845ec2; font-size: 1.4rem">Location</th>
                    <th style="color: #845ec2; font-size: 1.4rem">Operation</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %} {%if item.deleted==True%}
                <tr>
                    <td class="max-width-td">
                        <a href="{{url_for('showitem',itemid=item.itemid)}}">
                            <img
                                src="{{url_for('static',filename='/media/'+item.itemid|string+'.jpg')}}"
                                alt="Image"
                                width="100px"
                                height="100px" /><br />
                            <i><strong>{{ item.name }}</strong></i>
                        </a>
                    </td>
                    <td>
                        <a>Item ID: {{ item.itemid }}</a><br />
                        <a>Part No.: {{ item.partno }}</a>
                    </td>
                    <td>
                        {%for cat in cats%} {%if cat.catid==item.category%}
                        <a>{{cat.name}}</a>
                        {%endif%} {%endfor%}
                    </td>
                    <td><a>{{ item.quantity }}</a></td>
                    <td>
                        <a>
                            {{ item.date_stocked.strftime('%Y-%m-%d %H:%M') }}
                        </a>
                    </td>
                    <td><a>{{item.location}}</a></td>
                    <td>
                        {%if currentuser.role=='admin'%}
                        <a
                            href="{{url_for('restore',itemid=item.itemid)}}"
                            class="btn btn-success btn-sm"
                            >Restore</a
                        >
                        {%endif%}
                    </td>
                </tr>
                {%endif%} {% endfor %}
            </tbody>
        </table>
        <br /><br />
    </div>
</div>

{%endblock%}
