{%extends 'base.html'%} {%block head%}
<link
    rel="stylesheet"
    href=" {{ url_for('static', filename='css/stockitem.css')}} " />
<title>Login</title>{%endblock%} {%block
body%}
<div>
    <div class="container">
        <div class="form-main">
    <h1>Stock product</h1>
    
    <form
        action="{{url_for('stock',id=item.itemid)}}"
        method="POST">
        <div class="form-in">
        <label for="name">Item name :</label>
        <input
            id="name"
            name="name"
            type="text"
            placeholder="Item Name"
            value="{{item.name}}"
            disabled />
        <label for="partno">Part No. :</label>
        <input
            id="partno"
            name="partno"
            type="text"
            placeholder="Part No."
            value="{{item.partno}}"
            disabled />
        <label for="qty">Old Quantity :</label>
        <input
            id="qty"
            name="qty"
            type="number"
            placeholder="Quantity"
            value="{{item.quantity}}"
            disabled />
        <label for="stqty">Add Stock :</label>
        <input
            id="stqty"
            name="stqty"
            type="number"
            placeholder="Add Stock"
            min="1"
            max="999" />
    </div>
    <br>
    <div class="form-but">
        <button class="btn btn-primary" type="submit">Stock up</button>
    </div>
   
    </form>
</div>
</div>
</div>
{%endblock%}
