{%extends 'base.html'%}
<link
    rel="stylesheet"
    href=" {{ url_for('static', filename='css/userhome.css')}} " />
{%block head%}
<title>Cart</title>
{%endblock%} {%block body%}
<div>
    <br />
    <div class="container">
        <div class="heading" style="text-align: center">
            <h1
                style="
                    text-align: center;
                    color: #845ec2;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    border: 2px solid white;
                    border-radius: 5px;
                    background-color: #d5cabd;
                    box-shadow: 2px 2px 8px #845ec2;
                    padding: 5px;
                    text-shadow: 2px 2px 4px white;
                "
                class="mx-auto">
                Checkout
            </h1>
        </div>
        <br />
        <div class="card">
            {%if cartitems%}
            <ol class="list-group list-group-numbered">
                {%for ci in cartitems%} {% for item in items %} {%if
                ci.itemid==item.itemid%}
                <li
                    class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-4 me-auto">
                        <div class="fw-bold">{{item.name}}</div>
                        <a>
                            <small> Price : {{item.price}} Rs. Per unit </small>
                        </a>
                        <br />
                    </div>
                    <div class="my-auto" style="display: flex">
                        <span
                            class="badge text-bg-primary rounded-pill my-auto"
                            style="height: 100%">
                            Qty : {{ci.qty}}
                        </span>
                        <span style="margin-left: 5px"> </span>
                        <span
                            class="badge text-bg-warning rounded-pill my-auto">
                            Total Price : <br />{{item.price * ci.qty}} Rs.
                        </span>
                        <span style="margin-left: 5px"> </span>
                    </div>
                </li>
                {%endif%} {% endfor %} {% endfor %}
            </ol>
            {%else%}
            <p>Cart is empty !</p>
            {%endif%}
            <div style="text-align: center">
                <a> ~ </a>
                <a>
                    Total Quantity :
                    <i><strong>{{totalqty}}</strong></i>
                </a>
                <a> ~ | ~ </a>
                <a>
                    Total Price :
                    <i><strong>{{totalprice}}</strong></i>
                </a>
                <a> ~ </a>
            </div>
            <div style="text-align: center">
                <br />
                <a>Please fill in customer information : </a><br /><br />
                <form
                    action="{{url_for('checkout', cartid=cartid)}}"
                    method="POST">
                    <label for="customername">Customer Name :</label>
                    <br />
                    <input
                        type="text"
                        id="customername"
                        name="customername"
                        placeholder="Customer Name" />
                    <br />
                    <label for="customeraddress">Customer Address</label>
                    <br />
                    <textarea
                        name="customeraddress"
                        id="customeraddress"
                        placeholder="Customer Address">
...</textarea
                    >
                    <br />
                    <label for="customername">Customer GSTIN :</label>
                    <br />
                    <input
                        type="text"
                        id="customergstin"
                        name="customergstin"
                        placeholder="Customer GSTIN" />
                    <br /><br />
                    <button type="submit" class="btn btn-primary btn-xl">
                        Complete Order
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}
