{%extends 'base.html'%} {%block head%}

<title>Search</title>
<style>
    .max-width-td {
        max-width: 150px; /* Adjust the value as needed */
        overflow: hidden; /* Optional: hide overflowing content */
        /*white-space: nowrap; /* Optional: prevent wrapping */
        text-overflow: ellipsis; /* Optional: display ellipsis for overflowing content */
    }
    .main-div {
        background-color: #d5cabd;
        font-family: sans-serif;
    }
</style>
{%endblock%} {%block body%}

<div>
    <div>
        <br />
        <form class="ms-auto" method="POST" action="{{url_for('search')}}">
            <input
                class="form-control me-2"
                type="search"
                id="searchterm"
                name="searchterm"
                placeholder="Search"
                aria-label="Search" />
        </form>
        <br />
    </div>
    {%if searchterm%}
    <div class="container">
        <br />
        <div style="text-align: center">
            <h1
                style="
                    text-align: center;
                    color: #845ec2;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    border: 2px solid white;
                    background-color: #d5cabd;
                    border-radius: 5px;
                    box-shadow: 2px 2px 8px #845ec2;
                    padding: 5px;
                    text-shadow: 2px 2px 4px white;
                ">
                Search for "{{searchterm}}"
            </h1>
        </div>
        <br />

        <table
            class="table table-hover align-middle"
            style="
                text-align: center;
                border: 2px solid #845ec2;
                box-shadow: 2px 2px 5px#bea7e3;
            ">
            <thead>
                <tr>
                    <th style="color: #845ec2; font-size: 1.4rem">Item</th>
                    <th style="color: #845ec2; font-size: 1.4rem">
                        Item ID/Part No.
                    </th>
                    <th style="color: #845ec2; font-size: 1.4rem">Category</th>
                    <th style="color: #845ec2; font-size: 1.4rem">Quantity</th>
                    <th style="color: #845ec2; font-size: 1.4rem">
                        Date updated
                    </th>
                    <th style="color: #845ec2; font-size: 1.4rem">Operation</th>
                </tr>
            </thead>
            <tbody>
                {% for item in results %}
                <tr>
                    <td class="max-width-td">
                        <img
                            src="{{url_for('static',filename='/media/'+item.itemid|string+'.jpg')}}"
                            alt="Image"
                            width="100px"
                            height="100px" /><br />
                        <i><strong>{{ item.name }}</strong></i>
                    </td>
                    <td>
                        <a>Item ID: {{ item.itemid }}</a><br />
                        <a>Part No.: {{ item.partno }}</a>
                    </td>
                    <td>
                        {%for cat in cats%} {%if cat.catid==item.category%}
                        <a>{{cat.name}}</a>
                        {%endif%} {%endfor%}
                    </td>
                    <td><a>{{ item.quantity }}</a></td>
                    <td>
                        <a>
                            {{ item.date_stocked.strftime('%Y-%m-%d %H:%M') }}
                        </a>
                    </td>
                    <td>
                        {%if currentuser.role=='admin'%}
                        <a
                            href="{{url_for('update', id=item.itemid)}}"
                            class="btn btn-primary btn-sm col-5 mb-1">
                            Update
                        </a>
                        <button
                            type="button"
                            class="btn btn-danger btn-sm col-5 mb-1"
                            data-bs-toggle="modal"
                            data-bs-target="#DeleteModal{{ item.itemid }}">
                            Delete
                        </button>
                        <div
                            class="modal fade"
                            id="DeleteModal{{ item.itemid }}"
                            tabindex="-1"
                            aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1
                                            class="modal-title fs-5"
                                            id="exampleModalLabel">
                                            Confirm the deleteion.
                                        </h1>
                                        <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Confirm the deletion of item ? {{
                                        item.name }}
                                    </div>
                                    <div class="modal-footer">
                                        <button
                                            type="button"
                                            class="btn btn-secondary btn-sm"
                                            data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <a
                                            type="button"
                                            class="btn btn-danger btn-sm"
                                            href="{{url_for('delete', id=item.itemid)}}">
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <a
                            href="{{url_for('stock', id=item.itemid)}}"
                            class="btn btn-success btn-sm col-5">
                            Restock
                        </a>
                        <a
                            href="{{url_for('sell', id=item.itemid)}}"
                            class="btn btn-warning btn-sm col-5">
                            Sell
                        </a>
                        {%else%}
                        <form
                            method="POST"
                            action="{{url_for('request',id=item.itemid)}}"
                            style="display: inline-block">
                            <input
                                type="number"
                                max="{{ item.quantity }}"
                                min="0"
                                id="qty"
                                name="qty"
                                class="form-control"
                                placeholder="Qty"
                                style="
                                    width: 70px;
                                    height: 36px;
                                    display: inline-block;
                                    border: 1px solid grey;
                                " />
                            <button type="submit" class="btn btn-warning me-1">
                                Request
                            </button>
                        </form>
                        <form
                            method="POST"
                            action="{{url_for('add_item_cart',item_id=item.itemid)}}"
                            style="display: inline-block">
                            <button
                                type="submit"
                                class="btn btn-light me-1"
                                style="border: 1px solid grey">
                                Order
                            </button>
                        </form>
                        {%endif%}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br /><br />
    </div>
    {%endif%}
</div>

{%endblock%}
